<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        <h6 class="grey-text text-lighten-4">Desarrollado por Luis Graterol, Santiago Lossada y Manuel Ojeda.</h6>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://trello.com/b/3TVgvAIC/mediconsulta">Trello</a></li>
          <li><a class="grey-text text-lighten-3" href="https://docs.google.com/a/unimet.edu.ve/presentation/d/1_QW6hQzxKvU9yrYUvaPcQxUth1N-kKSYTQh6ECuHjBA/edit?usp=sharing">Modelo ER</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/luisgraterol/medicon">Git Repo</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright MediConsulta
    </div>
  </div>
</footer>
