<!DOCTYPE html>
<html>
  <head>
    <title>MediConsulta</title>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="/css/materialize.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="blue-grey darken-3">
    {{> header}}

    <h2 id="greeting">Bienvenido a MediConsulta!</h2>

    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div id="home-card" class="card white darken-1 hoverable">

          <form method="post" action="">
            <div class="card-content black-text">
              <span class="card-title">Ingresa a tu cuenta:</span>
              <div class="input-field col s12">
                <select id="select">
                  <option value="" disabled selected>Yo soy...</option>
                  <option value="1">Paciente</option>
                  <option value="2">Doctor</option>
                </select>
              </div>
              <input type="text" name="cedula" placeholder="Cedula" class="validate">

              {{#if mensaje }}
              <p>{{ mensaje }}</p>
              {{/if}}

            </div>
            <div class="card-action center">
              <input type="submit" value="Ingresar" class="btn">
              <a id="nuevaCuenta" href="/signup" class="btn z-depth-1" role="button">Crear una cuenta</a>
            </div>
          </form>

        </div>
      </div>
    </div>

    {{> footer}}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('select').material_select();
      });

      $('form').submit(function() {

        let decision = $('#select :selected').text();

        if (decision === 'Paciente') {
          $('form').attr('action', '/cuenta-paciente');
        }
        else if (decision === 'Doctor') {
          $('form').attr('action', '/cuenta-doctor');
        }

      });
    </script>
  </body>
</html>
